.idea/
.vs/
*.sln.DotSettings.user
BankService/appsettings.json
BankService/bin/
BankService/obj/
BankAccounts.csv
Enterprises.csv
UserAccounts.csv
Users.csv
BankService/diagram/
tools/
[Dd]ebug/
[Rr]elease/
[Ll]og/
project.lock.json
project.fragment.lock.json
artifacts/
*.user
*.userosscache
*.suo